<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.scottdensmore.CPHelperTool</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleVersion</key>
	<string>2.0.0.1</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>identifier &quot;com.scottdensmore.CPXPCService&quot; and anchor apple generic and certificate leaf[subject.CN] = &quot;Apple Development: Scott Densmore (62U9HX9N5D)&quot; and certificate 1[field.1.2.840.113635.100.6.2.1] /* exists */</string>
	</array>
</dict>
</plist>
